.collection-wrapper {
    padding: 10px;
    text-align: center;
    background-color: var(--primary-light-color);
}
.collection-title {
   padding-top: 30px;
   padding-bottom: 35px;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--text-title);
}
