.footer-contact {
    .contact-title {
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    .contact-info {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .contact-icon {
        margin-right: 10px;
    }
}
